@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollable-paragraph {
    height: 80px; /* Limite de 35 lignes */
    max-height: 80px; /* Limite de 35 lignes */
    line-height: 1.5em; /* Hauteur d'une ligne */
    overflow-y: auto; /* Barre de défilement verticale */
    padding-right: 0.5rem; /* Espacement pour éviter que le texte touche la barre */
    word-wrap: break-word; /* Forcer la rupture des lignes pour éviter le débordement */
    margin-left: -12px;
    width: calc(100% + 25px);
    background: rgb(36 45 59);
    padding: 10px;
  }

  .no-description {
    position: relative;
    background: rgb(36 45 59);
    padding: 8px;
    transition: all 0.3s ease-in-out;
    margin-left: -12px;
    width: calc(100% + 25px);
    height: 80px; /* Limite de 35 lignes */
  }

/* Pour masquer la barre de défilement tout en maintenant la fonctionnalité */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE et Edge */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari et Opera */
}

/* Styles pour la scrollbar personnalisée */
.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scrollbar-track-transparent::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thumb-indigo-600::-webkit-scrollbar-thumb {
  background: rgba(83, 127, 162, 0.3);
  border-radius: 4px;
}

.scrollbar-thumb-indigo-600::-webkit-scrollbar-thumb:hover {
  background: rgba(83, 127, 162, 0.6);
}

/* Configurations du container carousel */
#carousel-container {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden; /* Empêche le défilement vertical */
  position: relative;
  scroll-behavior: smooth; /* Pour un défilement fluide */
  -webkit-overflow-scrolling: touch; /* Défilement fluide sur iOS */
}

/* Style pour la ligne de cartes */
#carousel-container .ml-0.flex {
  display: flex;
  flex-wrap: nowrap; /* Empêche le retour à la ligne */
  width: max-content; /* Permet à la rangée de s'étendre au-delà de la largeur visible */
}

/* Pour que les cartes restent en format normal */
#carousel-container .coin-item {
  flex: 0 0 auto; /* Empêche les éléments de rétrécir */
  white-space: normal; /* Permet le retour à la ligne du texte à l'intérieur des cartes */
}

/* global styles.css */
.scroll-inertia {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

@layer utilities {
  .animate-gradient-slow {
    background-image: linear-gradient(to bottom right, #394b57, #192229, #10171D);
    animation: gradientMove 15s ease infinite;
    background-size: 400% 400%;
  }

  @keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
}

.blur-edges::before,
.blur-edges::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  pointer-events: none;
  z-index: 10;
  backdrop-filter: blur(3px);
}

.blur-edges::after {
  right: 0;
  background: linear-gradient(to left, 
    rgba(0, 0, 0, 0.1), 
    rgba(0, 0, 0, 0.1), 
    transparent
  );
}
